.col {
   padding: 0  1.5em;
   @media only screen {
       float: left;
       width: 100%;
       box-sizing: border-box;
   }
}

.row {
  & .row {
    margin:  0 -1.5em;
  }

  :after {
      content: "";
      clear: both;
      display: table;
  }
}
